%ul.job
  %li.job__list
    = link_to sholabos_latest_path do
      %span.job-btn
        全て
        %br
        (
        = sum_tags(all_tags)
        )
  - all_tags.each do |tag|
    %li.job__list
      = link_to sholabos_category_path(tag) do
        %span.job-btn
          = tag.name
          %br
          (
          = tag.taggings_count
          )
