= render 'shared/header'
= render 'sholabos/sholabo-header'
.work-main-content
  .work-left-content
    = render 'shared/left-content'
    = link_to 'もっと見る', root_path, class: "see-more-btn"
= render 'shared/navi4'
= render 'shared/navi2'
.footer
  .footer-inner
    = render 'shared/footer'
    = render 'shared/footer-copyright'
