= render 'shared/header'
= render 'shared/articles-header'
= render partial: 'shared/selected_articles2', locals: { all_articles: @selected_articles }
.work-main-content
  .work-left-content
    = render partial: 'shared/left-content', collection: @articles, as: :article
    = paginate(@articles)
  .work-right-content
    = render partial: 'shared/recommend-right-content', locals: {all_tags: @all_tags}
    .category-list
      %h3.tag_header 人気のタグ
      %ul.popular_tags
        = render partial: 'shared/recommend-right-tags_list', collection: @all_tags, as: :tag
= render 'shared/navi4'
= render 'shared/navi2'
.footer
  .footer-inner
    = render 'shared/footer'
    = render 'shared/footer-copyright'
