= render 'shared/header'
.show-main-wrapper
  .topic-path
    .topic-inner
      .topic-content
        = link_to "ホーム", root_path
        >
        = link_to "シゴト", articles_recommend_path
        >
        記事投稿
  = form_for [@company, @article] do |f|
    .show-main-content
      .show-left-content
        .show-left-inner
          %article.job-detail
            %h1.job-header-title
              = f.text_area :title, placeholder: 'タイトルを入力してください'
            %span 記事のイメージ画像を選んでください。
            = f.file_field :image, placeholder: '画像'
            %p.job-body-text
              = f.text_area :text, placeholder: '本文を入力してください'
            .job-body-message
              %p.job-body-message__inner
                さあ、旅を募集してみましょう！
            %table.job-footer-table
              %tr
                %th{ colspan: 2 }
                  募集概要
              %tr
                %th
                  シゴト内容
                %td.apply
                  = f.text_area :overview, placeholder: "概要箇条書き"
              %tr
                %th
                  リターン（報酬）
                %td
                  = f.number_field :price, placeholder: "金額"
                  %i 円/１本
              %tr
                %th
                  応募資格
                %td.apply
                  = f.text_area :qualification, placeholder: "要求資格"
              %tr
                %th
                  募集人数
                %td
                  = f.number_field :requested_number_of_people, placeholder: "募集人数"
                  人
              %tr
                %th
                  旅の期間
                %td
                  = f.number_field :period, placeholder: "期間"
                  日
              %tr
                %th
                  エリア
                %td.short_apply
                  = f.text_field :destination, placeholder: "行き先"
              %tr
                %th
                  企業名
                %td.short_apply
                  = f.text_field :company_name, placeholder: "企業名"
              %tr
                %th
                  募集終了の日付
                %td
                  = f.datetime_select :end_of_date, use_month_numbers: true, include_blank: true
              %tr
                %th
                  その他
                %td.apply
                  = f.text_area :extra_comment, placeholder: "その他要望など"
              %tr
                %th
                  担当者様からの一言
                %td.apply
                  = f.text_area :comment, placeholder: "一言"
            %p
              = f.submit "記事を投稿する"
= render 'shared/navi4'
= render 'shared/navi2'
.footer
  .footer-inner
    = render 'shared/footer'
    = render 'shared/footer-copyright'
