.side-job-detail
  .job-detail-inner.side-job-type
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-category.svg", class: "job-detail-image job-detail-image--arrange"
    %p.job-detail-text
      = article.overview
  .job-detail-inner.side-job-company
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg", class: "job-detail-image"
    %p.job-detail-text
      = article.company.name
  .job-detail-inner.side-job-money
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg", class: "job-detail-image"
    %p.job-detail-text
      = article.price
  .job-detail-inner.side-job-tag
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg", class: "job-detail-image"
    %ul.job-detail-tag
      = render partial: "articles/category_list", locals: {article: article}
  .side-job-like
    - if user_signed_in?
      - if current_user.clips.find_by(article_id: article.id)
        = link_to "お気に入りに登録済み", dislike_path(article.id), method: :delete, class: "application-dislike__upper side-job-like__btn"
      - else
        = link_to "お気に入りに追加" , like_path(article.id), method: :post, class: "application-like__upper side-job-like__btn"
    .side-job-application
      = link_to "応募画面へ進む", "#", class: "application-apply__upper side-job-application__btn"
      %p.application-btn-item.application-apply__lower
        現在
        %span
          10000
        人が応募済みです

.like-link{id: "like-link-#{article.id}"}


