.header#header-01
  .header-inner
    .header-logo
      = link_to root_path do
        %img.header-logo__img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg", alt: "SAGOJO"}
        %p.header-logo__string すごいSEの模倣サイト - ホンショー
    %nav.header-globalnav-01
      %ul.header-list
        %li.header-list__item
          = link_to "ホーム", root_path
        %li.header-list__item
          = link_to "シゴト", articles_recommend_path
        %li.header-list__item
          = link_to "すごい旅研究所", showlabo_latest_path
        %li.header-list__item
          = link_to "はじめての方はこちら", beginner_path
        %li.header-list__item
          = link_to "企業の方はこちら", business_path
        %li.header-list__item
          = link_to "FAQ", "/FAQ"
    .header-utility-02
      .header-utility-02__item.circle-bell
        .header-utility-02__.fa.fa-bell
      .header-utility-02__item.circle-comment
        .header-utility-02__.fa.fa-comment
      .user_menu_btn
        .header-utility-02__item.profile-image
          = image_tag 'icon-tabibito-01.svg'
        .header-utility-02__string.profile-name
          名前
        .header-utility-02.fa.fa-caret-down
