= link_to article_path(article) do
  .job-thumnail
    .job-thumnail-btn
      = image_tag (article.image), class: "job-thumnail__image", alt: "画像なし"
      %span.job-thumnail__content
        .job-thumnail__content--company
          %img.job-thumnail__content--company-image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg" }
          %span.job-thumnail__content--company-name
            = article.company.name
        %h3.job-thumnail__content--job-title
          = article.title
        %p.job-thumnail__content--thum-job-desc
          = article.overview
        %p.job-thumnail__content--thum-job-utility
          募集終了まで
          %span.job-thumnail__content--thum-job-utility.remaining-days
            = deadline_for_article(article.end_of_date)
          %span.job-thumnail__content--thum-job-utility
            日 | 100万 view
        .thum-job-taglist
          %img.thum-job-taglist__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg" }
          %ul.thum-job-taglist__ul
            %li
              %img.thum-job-taglist__ul--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg" }
              %p.thum-job-taglist__ul--li 動画
        .thum-job-return
          .inner-01
            %img.inner-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg" }
            %p.inner-01__p
              = article.price
          .inner-02
            %img.inner-02__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-object.svg" }
            %p.inner-02__p 他リターンあり
    - if user_signed_in?
      .like-link{id: "like-link-#{article.id}"}
        - if current_user.clips.find_by(article_id: article.id)
          = link_to  dislike_path(article.id), method: :delete, remote: true do
            = image_tag 'img_star_on', class: 'like-btn', id: "star-#{article.id}"
        - else
          = link_to like_path(article.id), method: :post, remote: true do
            = image_tag 'img_star_off', class: 'unlike-btn', id: "star-#{article.id}"

    - else
      .like-link
        = image_tag 'img_star_off', class: 'unlike-btn', id: "star"
