.wrapper
  .slider_wrap
    %ul.slider
      - @slider_articles.each do |article|
        = link_to article_path(article) do
          %li
            %img{:alt => "", :height => "560", :src => article.image, :width => "100%"}/
            .slider_main
              %h2
                = article.company.name
              %h3
                = article.title
              %span
                %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg" }
                = article.price
              %p.slider-button
                シゴト詳細へ
            .count
              %img.count__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/slider/img_hukidashi.svg" }
              %p.count__p
                あと
                %p.count__p__num
                  = deadline_for_article(article.end_of_date)
                  %span.count__p__day
                    日


